:root{
--dark:	#282828;
--orange: #FF6347;
--span:#101010;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Rubik', sans-serif;
}
img{
    
    max-width:100%;
    display:block;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
/*Navbar */

.navbar{
      display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--dark);
    min-height:6rem;
    animation:opacity 6s ease-out;
}
.navbar img{
    height:4.5rem;
    cursor:none;
}
.navbar ul{
    display:flex;
    
}
.navbar li{
    margin-right:1rem;
    
}
.navbar li a{
    padding:0.7rem;
    margin-right:0.1rem;
    font-size: 1rem;
    color:white;
    border-radius:0.7rem;
    transition: ease-out 0.5s;
    display:block;

}
.navbar li a:hover{
  color:var(--orange);
  background-color:white;
    }
    .toggle-button{
position: absolute;
top:1.5rem;
right:1rem;
display: none;
justify-content: space-between;
flex-direction: column;
height:20px;
width:35px;

    }
    .bar{
        height:3px;
        width:100%;
        background-color:white;
    }
/*Container*/
    .container {
       padding-left:1rem;
        margin:0 auto;
        max-width:1200px;
        position:relative;
            }
            .red{
                background-color:red
            }
    /*Bemutatkozás*/
    #bemutat{
        display: flex;
        flex-direction: column;
        line-height: 1.6;
        animation:leftoright 4s ease-in-out;

    }
    #bemutat h2{
        margin-top:4rem;
        position: relative;
    }
    .container h2::before,.footer h2::before{
        content:'';
        position: absolute;
        bottom:-25px;
        left:0px;
        background-color:var(--orange);
        height:2px;
        width:70px;
    }
    #bemutat p:nth-child(2) {
        margin:6rem 0px 1rem;
        text-align:center;
        font-size:1.2rem;
      }
      #bemutat p:nth-child(3) {
        
        
        margin-bottom:1rem;
      }
      .kiemel{
          color:#101010;
          font-weight:bold;
      }
      /*IMS */
      .ims{
          position: relative;
          margin-top:7rem;
          display:flex;
          flex-direction: column;
          animation:rightoleft 4s ease-in-out;
      }
      .ims h2{
          position: relative;
      }
      .ims p:nth-child(2){
          margin-top:2rem;
      }
            /*Certified */
      .certified{
          margin-top:9rem;
        
      }
      .kepek{
          margin-top:6rem;
          display:flex;
          flex-wrap: wrap;
          justify-content: space-around;
      }
      .kepek p{
          margin-top: 1rem;
          text-align: center;
      }
      .kepek2:hover{
        background-color:lightgray;
      }
      .certified img{
          height:150px;
      }
     
      .certified h2{
          position: relative;
      }
      /*Gyártástechnológia */
      #gyartasok h2{
          margin-top:11rem;
          position: relative;
      }
    .gyartastech{
        position: relative;
        margin-top:6rem;
               display:flex;
        
        justify-content: space-evenly;
       line-height:1.7;
       
    }
    .cards h4{
        
        margin:1rem 0rem 1rem;
        padding-left:1rem;
    }
    .cards p{
                padding-right:1rem;
        height:350px;
       max-width:200px;
    }
    .gyartastech img{
height:140px;
    }

    /*Jövő*/
#jövő{
        margin-top:8rem;
position: relative;
}
#jövő h2{
    position: relative;
}
   .elso P:first-child{
margin:5rem 0rem 2rem;
   }
   .elso :nth-child(2){
       line-height:1.6;
   }
     .masodik{
         margin-top:3rem;
         display: flex;
      min-height: 13rem;
         
     }
     .masodik > *{
         flex-basis:100%;
              
     }
     .masodik img{
         height:320px;
         max-width:100%;
     }
     .szoveg{
         font-size:0.9rem;
         max-width:1200px;
         display: flex;
         flex-direction: column;
      
        
         line-height: 1.5;
     }
     .szoveg p{
         padding-left:1rem;
     }
     .szoveg h4{
         margin:1rem 0rem 1rem;
     }
     /*Munkaterület*/
    #munkaterulet{
        position: relative;
        margin-top:8rem;
    }
    #munkaterulet h2{
        position: relative;
        margin-top:8rem;
    }
 .span{
     padding-left:0.5rem;
 }
     .grid{
        animation:roll-in-left 1s ease-in;
         margin-top:6rem;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:2.5rem;
    }
    #xd {
        display: flex;
        align-items: center;
        
        }
        #xd p{
            margin-top:8rem;
            margin-left:-14.9rem;
        text-align: left;
        }
        /*Galéria*/
        #galeria img{
            height:400px;
            max-width:430px;
        }
        #galeria{
            position: relative;
            margin-top:12rem;
        }
        #galeria h2{
            position: relative;
        }
        .galkepek{
            margin-top:5rem;
            display:flex;
          justify-content: center;
                    }
            /*Karrier*/
          #karrier{
              position: relative;
          margin-top:5rem;
            }
            #karrier h2{
            position: relative;
            }
            #karrier .grid{
             grid-template-columns: repeat(4,1fr);
            grid-gap:1rem;
            color:black;
            }
           
            .dobozok{
                padding:1rem 1rem;
                background-color: red;
                text-align: center;
                max-width:29.5rem;
            }
            /*Pozíciók */
            .poz{
                margin-top:8rem;
                margin-bottom: 10rem;
            }
            .hr{
                margin:2rem 0rem 2rem;
                height:0.1rem;
                max-width: 100%;
                border: 1px solid gray;
  border-radius: 5px;
            }
            .allasok{
                margin-top:5rem;
                display:flex;
               justify-content: space-around;
                             
            }
            .allasok> *{
                flex-basis:100%;
                     
            }
            .allasok h3{
                margin-bottom:1rem;
            }
            .allasok h4{
                margin-bottom:1rem;
            }
            /*Kapcsolat */
            #kapcsolat{
                margin-top:6rem;
            }
            .contact .grid{
                animation:roll-in-left 1s ease-in;
                margin-top:6rem;
               display:grid;
               grid-template-columns: 1fr 1fr 1fr 1fr;
               grid-gap:2.5rem;
                
            }
            /*Footer */
         footer{
             position: relative;
             margin-top:2.5rem;
             min-height:25rem;
             background-color:	#242424;
             color:white;
             
         }
         footer * {
margin-top:1.2rem;
         }
        .footer .grid{
            margin-top:2rem;
            width:100%;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap:12rem;
          justify-content: center;
          margin:0 auto;
             max-width:1400px;
             font-size:0.8rem;
            }
            .footer p{
                margin: 1rem 0rem;
            } 
           
            .footer a{
                display: block;
                color:white;
                margin-bottom: 1rem;
            }
            .footer a:hover{
               color: var(--orange);
            }
            .footer h2{
                position: relative;
            }
            .last{
                min-height:7rem;
                background-color: black;
               display:flex;
               justify-content: space-around;
               align-items: center;
               color:white;
            }
           
            .social{
                display:flex;
                justify-items: space-around;   

                }
                 .social a{
                margin-right:2rem;
                }
                .social a:hover{
                   transform: translateY(-10px);
                }
                .top{
                    position: fixed;
                    bottom:20px;
                    right: 20px;
                    border-radius:50%;
                    height:40px;
                    width:40px;
                    font-size:25px;
                    
                }.top:hover{
                    background-color: var(--orange);
                }
                  @media (max-width:1024px){
        .navbar{
            flex-direction: column;
            align-items: flex-start;
            
          
        }
        .toggle-button{
            display:flex;
            top:3rem;
        }
        .toggle-button:hover{
            transform: scaleY(1.1);
           
        }
        .links{
            margin-top:2rem;
            width:100%;
          display:none;
        }
        .links ul{
            width:100%;
            flex-direction: column;
        }
        .links li {
        text-align: center;
        width:100%;
        }
        .links li a{
            padding:1rem 1rem;
        }
       .active{
           display:flex;
       }
       .gyartastech{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .masodik{
        flex-direction: column;
    }
    .footer .grid{
        grid-template-columns: 1fr;
    }
}

@media (max-width:720px){
    .kepek{
        flex-direction: column;
        align-content: space-around;
    }
        #karrier .grid{
 grid-template-columns: 1fr;
     }
     
     #munkaterulet .grid{
         grid-template-columns: 1fr;
     }
     .allasok{
         flex-direction: column;
     }
     .contact{
         grid-template-columns: 1fr;
     }
     .last{
         flex-direction: column;
     }
     .qc h3:nth-child(1){
         margin-top:1rem;
     }
}
@keyframes opacity{
0%{
opacity:0.2;
}   
25%{
    opacity:0.4;
}
50%{
    opacity:0.6;
}
75%{
    opacity:0.8;
}

}
@keyframes leftoright{
 0%{
     transform: translateX(-100%);
 }   
 100%{
     transform: translateX(0);
 }
}
@keyframes rightoleft{
    0%{
        transform: translateX(100%);
    }   
    100%{
        transform: translateX(0);
    }
   }
@keyframes roll-in-left {

    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
@keyframes kepek{
    0%{
        background-image: url("vision7.jpg"),
    }
    25%{
        background-image: url("vision6.jpg"),
    }
    50%{
        background-image: url("vision7.jpg"),
    }
    75%{

    }
}